:root {
  --bg-color: #fff;
  --color-1: rgb(227, 172, 71);
  --color-2: rgb(186, 137, 45);
  --secondary-color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-1);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-color);
  padding: 10px;
  margin: 60px auto;
  height: 400px;
  width: 900px;
  border-radius: 10px;
  border: solid var(--color-1) 1px;
  box-shadow: 3px 3px 15px rgb(0, 0, 0, 0.4), -3px -3px 15px rgb(0, 0, 0, 0.4);
}
.title {
  font-size: 28px;
  text-align: center;
  text-decoration: underline;
}

.points {
  margin: -5px;
  font-size: 12px;
}

.controls {
  height: 50px;
  padding: 10px;
  text-align: center;
  margin: 35px auto;
}

.btn {
  border: 1px solid var(--color-1);
  padding: 10px;
  color: var(--color-1);
  background-color: transparent;
  width: 100px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 18px;
}

.btn:hover {
  background-color: var(--color-1);
  color: var(--bg-color);
}

.rock {
  font-size: 5rem;
}

.header {
  margin: 5px 10px;
}

.game {
  text-align: center;
}

.xLetter {
  font-size: 3rem;
}

.yourDisplay,
.pcDisplay {
  font-size: 4rem;
}
